<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rifa</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Styles/login.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Js/login.js"></script>
    <script>
        $(function () {

            $('#login-form-link').click(function (e) {
                $("#login-form").delay(100).fadeIn(100);
                $("#register-form").fadeOut(100);
                $('#register-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });
            $('#register-form-link').click(function (e) {
                $("#register-form").delay(100).fadeIn(100);
                $("#login-form").fadeOut(100);
                $('#login-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
            });

        });
    </script>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="#" class="active" id="login-form-link">Login</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="#" id="register-form-link">Cadastro</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="login-form" style="display: block;">
                                    <div class="form-group">
                                        <input type="text" name="username" id="Login" tabindex="1" class="form-control" placeholder="Login" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="Senha" tabindex="2" class="form-control" placeholder="Senha">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <button name="login-submit" id="btnlogin" tabindex="4" class="form-control btn btn-login" value="">Entrar</button>
                                                <div id="mensagem"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="text-center">
                                                    <a href="" tabindex="5" class="forgot-password">Esqueceu sua senha?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="register-form" style="display: none;">
                                    <div class="form-group">
                                        <input type="email" name="email" id="nome" tabindex="1" class="form-control" placeholder="Nome" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="username" id="LoginCadastro" tabindex="1" class="form-control" placeholder="Login" value="">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="senha" tabindex="2" class="form-control" placeholder="Senha">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirmar Senha">
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="confirm-password" id="imagem" tabindex="2" class="form-control" placeholder="" accept="image/*">
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <button name="register-submit" id="btncadastrar" tabindex="4" class="form-control btn btn-register">Cadastrar</button>
                                            </div>
                                            <div class="col-sm-6 col-sm-offset-3">
                                                <div id="mensagemCad"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
